body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: linear-gradient(rgba(71, 230, 22, 0.315) 0%, rgba(224, 210, 7, 0.856) 60%, rgba(15, 97, 228, 0.925) 120%)
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.display {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
  border-top: 2px dashed #000000;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 2px dashed #000000;
}

.colorKey {
  font-weight: lighter;
}

/* TEXTAREA formatting */
.present {
  background-color: lightgreen;
  color: black;
  font-weight: bold;
}

.past {
  background-color: cadetblue;
  color: black;
}

.future {
  background-color: yellow;
  color: black;
  font-weight: bold;
}
/* text area formatting end */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
